*{
    box-sizing: border-box;
}

.canvas {
    position: relative;
    background-color: gainsboro;
    width: 500px;
    height: 500px;
    border: 3px solid gray;
    border-radius: 10px;
}

.head {
    top: 5%;
    left: 27.5%;
    position: absolute;
    width: 45%;
    height: 45%;
    border: 3px solid black;
    border-radius: 50%;
    background-color: rgb(83, 168, 229);
}

.face {
    top: 30%;
    left: 15%;
    position: absolute;
    width: 70%;
    height: 70%;
    border: 3px solid black;
    border-radius: 50%;
    background-color: white;
}

.R-eye {
    top: 20%;
    left: 30%;
    position: absolute;
    width: 20%;
    height: 28%;
    border: 3px solid black;
    border-radius: 50%;
    background-color: white;
    z-index: 10;
}

.L-eye {
    top: 20%;
    left: 50%;
    position: absolute;
    width: 20%;
    height: 28%;
    border: 3px solid black;
    border-radius: 50%;
    background-color: white;
    z-index: 10;
}

.R-pupil {
    top: 35%;
    left: 50%;
    position: absolute;
    width: 30%;
    height: 40%;
    border-radius: 50%;
    background-color: black;
    z-index: 11;
}

.L-pupil {
    top: 35%;
    left: 20%;
    position: absolute;
    width: 30%;
    height: 40%;
    border-radius: 50%;
    background-color: black;
    z-index: 11;
}

.retina {
    top: 35%;
    left: 30%;
    position: absolute;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background-color: white;
    z-index: 12;
}

.nose {
    top: 19%;
    left: 40%;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 3px solid black;
    border-radius: 50%;
    background-color: red;
    z-index: 11;
}

.nose-light {
    top: 10%;
    left: 1%;
    position: absolute;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background-color: white;
    z-index: 11;
}

.mustache-1 {
    top: 30%;
    left: 8%;
    position: absolute;
    width: 30%;
    height: 2%;
    background-color: black;
    border-radius: 15px;
    transform: rotate(10deg);
    z-index: 11;
}

.mustache-2 {
    top: 40%;
    left: 8%;
    position: absolute;
    width: 30%;
    height: 2%;
    background-color: black;
    border-radius: 15px;
    z-index: 11;
}

.mustache-3 {
    top: 50%;
    left: 8%;
    position: absolute;
    width: 30%;
    height: 2%;
    background-color: black;
    border-radius: 15px;
    transform: rotate(-10deg);
    z-index: 11;
}

.mustache-4 {
    top: 30%;
    left: 60%;
    position: absolute;
    width: 30%;
    height: 2%;
    background-color: black;
    border-radius: 15px;
    transform: rotate(-10deg);
    z-index: 11;
}

.mustache-5 {
    top: 40%;
    left: 60%;
    position: absolute;
    width: 31%;
    height: 2%;
    background-color: black;
    border-radius: 15px;
    z-index: 11;
}

.mustache-6 {
    top: 50%;
    left: 60%;
    position: absolute;
    width: 31%;
    height: 2%;
    background-color: black;
    border-radius: 15px;
    transform: rotate(10deg);
    z-index: 11;
}

.nose-line {
    top: 39%;
    left: 48.7%;
    position: absolute;
    width: 2%;
    height: 30%;
    background-color: black;
    z-index: 11;
}

.mouse {
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 0;
    right: 0;
    height: 40%;
    width: 70%;
    margin: 0 auto;
    border-bottom: 4px solid black;
    border-radius: 50%;
}

.necklace {
    top: 45%;
    left: 30%;
    position: absolute;
    width: 40%;
    height: 5%;
    border: 3px solid black;
    border-radius: 20px;
    background-color: red;
    z-index: 11;
}

.bell {
    top: 50%;
    left: 40%;
    position: absolute;
    width: 22%;
    height: 220%;
    border-radius: 50%;
    border: 4px solid black;
    background-color: rgb(236, 193, 71);
    z-index: 11;
}

.bell-line {
    top: 125%;
    left: 37.5%;
    position: absolute;
    width: 27%;
    height: 70%;
    border-radius: 10px;
    border: 3px solid black;
    background-color: rgb(236, 193, 71);
    z-index: 12;
}

.bell-hole {
    top: 200%;
    left: 49%;
    position: absolute;
    width: 4%;
    height: 40%;
    border-radius: 50%;
    /* border: 4px solid black; */
    background-color: black;
    z-index: 12;
}

.bell-hole-line {
    top: 240%;
    left: 50%;
    position: absolute;
    width: 2%;
    height: 20%;
    /* border: 4px solid black; */
    background-color: black;
    z-index: 12;
}